
@model AdminCore.Models.Story

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />



@*<div class="container"><h1>Update stories, YouTube video's and status  </h1></div>*@

@{ 
    var searchResults = Convert.ToString(ViewData["searchResults"]);

}

<input type="hidden" id="searchResults" name="searchResults" value="@searchResults" />


<div class="container">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#menu1">YouTube</a></li>
        @*<li><a data-toggle="tab" href="#menu2">Menu2</a></li>*@
        <li><a data-toggle="tab" href="#menu3">Progress</a></li>
        <li><a data-toggle="tab" href="#menu4">PDF Generator</a></li>
        <li><a data-toggle="tab" href="#menu5">Read</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">


            <div id="exTab1" class="container">

                <div class="page-wrapper">
                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="1a">
                            <div class="row">
                                <div class="col-sm-4">



                                    <div>



                                        <table style="width: 55%">
                                            <tr>
                                                <td>
                                                    @Html.Label("Title")
                                                </td>

                                            </tr>
                                            <tr>

                                                <td>
                                                    @Html.DropDownList("jakataMaster", (IEnumerable<SelectListItem>)ViewData["jakataMasterData"])
                                                </td>

                                            </tr>
                                        </table>

                                        <table style="width: 55%">
                                            <tr>
                                                <td>
                                                    @Html.Label("Animal Type")
                                                </td>

                                            </tr>
                                            <tr>

                                                <td>

                                                    @for (int i = 0; i < Model.animalCombo.items.Count; i++)
                                                    {
                                                <tr>
                                                    <td>
                                                        @*@Html.CheckBoxFor(m => Model.animalCombo.items[i].Selected)*@
                                                        @Html.CheckBoxFor(m => Model.animalCombo.items[i].Selected, new { @class = "animalCombo" })



                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => Model.animalCombo.items[i].Text, new { @class = "animalCombo" })
                                                        @Html.HiddenFor(m => Model.animalCombo.items[i].Value, new { @class = "animalCombo" })
                                                        @Html.HiddenFor(m => Model.animalCombo.items[i].Text, new { @class = "animalCombo" })
                                                    </td>
                                                </tr>


                                            }


                                                </table>
                                                



                                                <table style="width: 55%">
                                                    <tr>
                                                        <td>
                                                            @Html.Label("Moral Type")
                                                        </td>

                                                    </tr>
                                                    <tr>

                                                        <td>
                                                            @Html.DropDownList("moralType", (IEnumerable<SelectListItem>)ViewData["moralTypeData1"])
                                                        </td>

                                                    </tr>
                                                </table>
                                              

                                                @*<table style="width: 55%">
                    <tr>
                        <td>
                            @Html.Label("Story Source")
                        </td>

                    </tr>
                    <tr>

                        <td>
                            @Html.DropDownList("storySource", (IEnumerable<SelectListItem>)ViewData["storySourceData"])
                        </td>

                    </tr>
                </table>*@


                                            </div>

                                            <p>
                                            <p>
                                                <input type="button" id="Update" value="Save" />
                                                @{
                                                    string id = (string)ViewData["id"];
                                                }
                                                <input type="hidden" id="id" name="id" value="@id" />
                                            </p>

                                            </p>

                                        </div>
                                        <div class="col-sm-8">
                                            <div>
                                                Copy and Paste story below
                                                <textarea id="elmeStory" name="elmeStory" rows="30" cols="90" style="width: 100%">
				
           @{

               string menu = (string)ViewData["Stories"];

               menu = System.Web.HttpUtility.HtmlDecode(menu);
                 @menu
           }
            
          
			</textarea>


                                            </div>

                                            <div>
                                                Comments
                                                <textarea id="comments" name="elmeStory" rows="30" cols="90" style="width: 100%">


                                @{ 
                                    string menuComments = (string)ViewData["Comments"];

                                    menuComments = System.Web.HttpUtility.HtmlDecode(menuComments);
                                                 @menuComments
                                    }

			</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>




                    <h3>HOME</h3>

                </div>
                <div id="menu1" class="tab-pane fade">

                    <div>

                        <table>
                            <tr>

                                <td>
                                    URL:
                                </td>

                                <td>

                                    @Html.TextBoxFor(model => model.URL, new { id = "URL" })

                                    <input type="button" id="UpdateURL" value="UpdateURL" />
                                    @{
                                        string JakataID = (string)ViewData["JakataID"];
                                    }
                                    <input type="hidden" id="JakataID" name="JakataID" value="@JakataID" />



                                </td>
                            </tr>

                        </table>


                        <p>

                            @for (int i = 0; i < Model.youTubeCombo.items.Count; i++)
                            {
                                <iframe width="420" height="345"
                                        src=@Model.youTubeCombo.items[i].Text></iframe>

                            }





                        </p>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                   
                </div>
                <div id="menu3" class="tab-pane fade">


                    <div class="col-sm-6">

                        To do

                        @Html.DropDownList("toDo", (IEnumerable<SelectListItem>)ViewData["ToDo"])

                    </div>


                    <div class="col-sm-6">
                        Posted

                        @Html.DropDownList("done", (IEnumerable<SelectListItem>)ViewData["Done"])



                    </div>
                </div>


                <div id="menu4" class="tab-pane fade">

                    <input type="button" onclick="PDF()" name="PDF" id="PDF" value="Create custom receipe book" />


                </div>

                <div id="menu5" class="tab-pane fade">

                    <div>

                        <textarea id="elmeStory" readonly="true" name="elmeStory" rows="30" cols="90" style="width: 100%">
				
           @{

               string menu2 = (string)ViewData["Stories"];

               menu2 = System.Web.HttpUtility.HtmlDecode(menu);
                 @menu2
           }
            
          
			</textarea>


                    </div>

                </div>





                <!-- Bootstrap core JavaScript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


                <script type="text/javascript">

                    $(function () {

                        $("#Update").click(function () {



                            var idslist = "";
                            var counter = 0;
                            var counter1 = 0;
                            var animalChoosen = "";

                            $("input:checkbox[class=animalCombo]").each(function () {

                                if ($(this).is(":checked")) {
                                    var userid = $(this).attr("value");
                                    if (idslist != "") {
                                        idslist = idslist + ',' + userid;
                                        counter1++;


                                    }
                                    else
                                        idslist = userid;
                                    animalChoosen = $("#animalCombo_items_" + counter1 + "__Value").val() + ',' + animalChoosen;
                                }
                                counter1++;
                            });

                            if (counter1 == 0) {
                                alert('You must choose an animal type');
                                return;
                            }



                            var jakataMaster = $("#jakataMaster").val();
                            var title = $("#jakataMaster").val();

                            if (title == "0") {
                                alert('Title is required');
                                document.getElementById('jakataMaster').focus();
                                return;
                            }


                            var moralType = $("#moralType").val();
                            if (moralType == "0") {
                                alert('Moral Type is required');
                                document.getElementById('moralType').focus();
                                return;
                            }



                            var elmeStory = document.getElementById('elmeStory').value;

                            var comments = document.getElementById('comments').value;



                            if (elmeStory.length == 0) {
                                alert('The Story field cant be empty');
                                document.getElementById('elmeStory').focus();
                                return;
                            }

                            var id = document.getElementById('id').value;

                            //var resultJSON = {
                            //    htmlSourceReceipe: rec, htmlSourceComments: comments, htmlSourceIngred: IngredHTML, title: title, mainIngred: mainIngred, ethnic: ethnic, cat: cat, meal: meal, seasonal: seasonal,
                            //    cookingLevelCode: cookingLevelCode, Servings: Servings, PrepTime: PrepTime, CookTime: CookTime, youtube: youtube, pictureName: pictureName
                            //};

                            var resultJSON = {
                                ID: id, JakataID: jakataMaster, StoryCategorytName: 1, Title: jakataMaster, AnimalType: animalChoosen, MoralType: moralType, Comments: comments, Stories: elmeStory
                            };

                            $.ajax({
                                type: 'POST',

                                url: "http://localhost:5187/api/Storiesapi/update",


                                data: resultJSON,
                                dataType: "json",


                                success: function (data, status, xhr) {
                                    //alert("Success: " + xhr.status + " : " + xhr.statusText);
                                    alertify.success("Story Saved");
                                    window.location.href = "/Home/Update?row=" + data.dataField;
                                    //window.location.href = "/Home/Update?row=" + data.foo;
                                    //window.location.href = "/Home/Update?row=" + data.dataField;


                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                }


                                //success: function (data) {

                                //    alertify.success("Story Saved");
                                //    $("#divLoading").hide();

                                //    window.location.href = "/Home/Update?row=" + data.foo;

                                //},


                            });

                            return;

                        });

                        //

                    });
                </script>



                <script type="text/javascript">

                    $(function () {

                        $("#UpdateURL").click(function () {


                            var jakataMaster = $("#jakataMaster").val();
                            var title = $("#jakataMaster").val();

                            var url = document.getElementById('URL').value;
                            url = url.replace("watch?", "embed?");



                            if (url.length == 1) {
                                alert('The URL field cant be empty');
                                document.getElementById('URL').focus();
                                return;
                            }

                            var id = document.getElementById('id').value;

                            var resultJSON = {
                                JakataID: jakataMaster, URL: url
                            };

                            $.ajax({
                                type: 'POST',

                                url: "http://localhost:5187/api/Storiesapi/inserturl",


                                data: resultJSON,
                                dataType: "json",


                                success: function (data, status, xhr) {
                                    //alert("Success: " + xhr.status + " : " + xhr.statusText);
                                    alertify.success("Story Saved");
                                    window.location.href = "/Home/Update?row=" + id;
                                    //window.location.href = "/Home/Update?row=" + data.dataField;


                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                }


                                //success: function (data) {

                                //    alertify.success("Story Saved");
                                //    $("#divLoading").hide();

                                //    window.location.href = "/Home/Update?row=" + data.foo;

                                //},


                            });

                            return;

                        });

                        //

                    });
                </script>

                <script>

                    function PDF() {

                        alertify.success("Creating your custum PDF. This will take a few minutes");
                        var searchResults = document.getElementById('searchResults').value;

                        window.location.replace("/MyFavorties/PdfResultsView?all=" + searchResults);
                    }

                </script>



